body{
	margin: 0;
	padding: 0;
	background-size: contain;
	background-position: center;
}
.fare{
	margin: -176px;
	border: solid;
	border-width: 2rem;
	border-color: #fff;
	width: 400px;
	height: 600px;
	left: 55%;
	position: relative;
	transform: translate(-30%, 30%);
	background-color: #fff;
	box-shadow: 0 0 15px #fff;
}
h1{
	margin: 0;
	border-bottom: 3px solid #ff4500;
	padding: 0 0 20px;
	text-align: center;
	font-size: 28px;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #ff4500;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ff4500;
}
.styled-table tbody tr.active-row {
	background-color: #ffb499;
    font-weight: bold;
    color: #ffffff;
}