.{
  
}
body{
  margin: 0;
  padding: 0;
  background-size: contain;
  background-position: center;
}
.pastHistory{
  margin: -176px;
  border: solid;
  border-width: 2rem;
  border-color: #fff;
  width: 400px;
  height: 600px;
  left: 55%;
  position: relative;
  transform: translate(-30%, 30%);
  background-color: #fff;
  box-shadow: 0 0 15px #fff;

}
h1{
  margin: 0;
  border-bottom: 3px solid #ff4500;
  padding: 0 0 20px;
  text-align: center;
  font-size: 28px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  position: relative;
  transition: 0.3s;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  width:20%;border:0px;border-radius: 50%;
}